<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static',
    filename='style_session.css') }}"
  </head>
  <body>
    <div id="container">
      <h1>Counter: {{times}}</h1>
      <!-- <form><h2 id="counter" name="times">{{ times }} time(s)</h2></form>
      <button class="btn btn-success">+2 visits</button>
      <button class="btn btn-danger">Reset</button> -->
    </div>
  </body>
</html>
